{% extends 'base.html' %}

{% block title %}{{ title }} : {{ block.super }} {% endblock %}}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{% for item in news %}
{% now "Y-m-d H:i" %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{% url 'category' item.category.pk %}">{{ item.category }}</a>
    </div>
    {% autoescape off %}
    <div class="card-body">
        <div class="media">
            {% if item.photo %}
            <img src="{{ item.photo.url }}" alt="" width="350" class="mr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title {% cycle 'text-danger' 'text-success' %}">{{ item.title }}</h5>
                <p class="card-text">{{ item.content|safe|linebreaks|truncatewords:30 }}</p>
                <a href="#" class="btn btn-primary">Читать статью</a>
            </div>
        </div>
    </div>
    {% endautoescape %}
    <div class="card-footer text-muted">
        Опубликована {{ item.created_at|timesince }} назад
    </div>
</div>
{% endfor %}
{% endblock %}